.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);

  min-height: calc(100dvh - 7rem);

  padding: 0 var(--spacing-xxl);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);

  height: 100%;

  text-align: center;
}


.hero-title span {
  color: rgb(var(--color-primary-accent));
  background-image: linear-gradient(45deg, rgb(var(--color-primary-accent)) 20%, rgb(var(--color-primary-accent-hover)) 50%, rgb(var(--color-secondary-accent)) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.hero-actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.hero-btn i {
  margin-left: 5px;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
}

.social {
  background-color: rgb(var(--color-secondary-bg));
  
  font-size: var(--fontsize-xl);
  font-weight: 100;

  padding: 9px 11px;

  border-radius: var(--radius-full);
}

.hero-img {
  aspect-ratio: 1/1;

  object-fit: cover;
  object-position: left;

  max-width: 50%;

  border-radius: var(--radius-full);
}

@media (min-width: 768px) {
  .hero-img {
    max-width: 40%;
  }

  .social {
    font-size: var(--fontsize-lg);
  }
}

@media (min-width: 1200px) {
  .hero {
    flex-direction: row-reverse;
    gap: var(--spacing-xxl);
  }

  .hero-content {
    text-align: left;

    max-width: 35%;
    align-items: flex-start;
  }

  .hero-btns {
    margin-left: -8px;
  }

  .socials-list {
    justify-content: flex-start;
  }

  .hero-img {
    max-width: 30%;
  }
  
  .social {
    font-size: var(--fontsize-md);
  }
}