.header {
  background-color: rgb(var(--color-secondary-bg));

  border: var(--border-subtle);

  padding: var(--spacing-sm) var(--spacing-md);
  margin: var(--spacing-sm);

  border-radius: var(--radius-full);

  position: sticky;
  top: var(--spacing-sm);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
}

.logo {
  font-size: var(--fontsize-md);
  font-weight: 800;
}

.nav-btns {
  display: flex;
  gap: var(--spacing-md);
}

.nav-menu-toggle,
.nav-mode-toggle {
  font-size: var(--fontsize-lg);
  color: inherit;
}

.nav-menu {
  background-color: rgb(var(--color-secondary-bg));
  
  position: fixed;
  top: calc(var(--spacing-xxl) * 2);
  left: var(--spacing-sm);
  right: var(--spacing-sm);

  border: var(--border-subtle);
  border-radius: var(--radius-lg);

  visibility: hidden;
  opacity: 0;

  z-index: 998;

  transform: translateY(-15px);

  display: flex;
  justify-content: center;
  
  text-align: center;
  
  padding: var(--spacing-sm) var(--spacing-md);

  transition: var(--transition-normal);
}

.nav-menu.active {
  visibility: visible;
  opacity: 1;

  transform: translateY(0px);
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.nav-link.current {
  background-color: rgba(var(--color-primary-accent), 0.1);

  color: rgb(var(--color-primary-accent));

  padding: 8px 14px;

  border-radius: var(--radius-full);
  border: var(--border-subtle);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;

  z-index: 997;

  backdrop-filter: blur(4px);

  background-color: rgba(0, 0, 0, 0.3);

  transition: var(--transition-normal);
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .nav-menu-toggle {
    display: none;
  }

  .header {
    padding: var(--spacing-xs) var(--spacing-md);
    width: fit-content;

    display: flex;
    gap: var(--spacing-xxl);
    margin-left: auto;
    margin-right: auto;

    line-height: 1;
  }

  .nav-list {
    flex-direction: row;
    gap: var(--spacing-md);
  }

  .nav-menu {
    position: static;
  
    background: none;
    
    border: none;

    visibility: visible;
    opacity: 1;

    transform: translateY(0px);

    transition: none;
  }

  .overlay.active {
    display: none;
  }
}