* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  transition: background-color var(--transition-normal), color var(--transition-normal);
}

body {
  font-family: "Outfit", "Arial", sans-serif;
  font-size: var(--fontsize-sm);
  line-height: 1.6;
  color: rgb(var(--color-primary-text));

  background-color: rgb(var(--color-primary-bg));
}

::selection {
  background-color: rgba(var(--color-primary-accent), 0.2);
  color: rgb(var(--color-primary-text));
}

h1 {
  font-size: var(--fontsize-xxl);
  line-height: 1.2;
}

h2 {
  font-size: var(--fontsize-xl);
  line-height: 1.3;
}

h3 {
  font-size: var(--fontsize-lg);
  line-height: 1.4;

}

h4 {
  font-size: var(--fontsize-md);
}

p {
  font-size: var(--fontsize-sm);
}

ul {
  list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-size: var(--fontsize-sm);

  border: none;
  border-radius: var(--radius-sm);

  background-color: transparent;
}

.btn {
  background-color: rgb(var(--color-neutral));

  color: white;

  margin: var(--spacing-xs);
  padding: var(--spacing-sm) var(--spacing-md);

  transition: background-color var(--transition-normal), transform var(--transition-normal);
}

.btn:hover {
  transform: translateY(-1px);

  background-color: rgb(var(--color-neutral-hover));
}

.btn:active {
  transform: scale(0.96);
  transition: transform var(--transition-normal);
}

.btn:focus-visible {
  outline: 2px solid rgb(var(--color-primary-accent));
  outline-offset: 2px;
}

.btn.primary {
  background-color: rgb(var(--color-primary-accent));
}

.btn.primary:hover {
  background-color: rgb(var(--color-primary-accent-hover));
}

.btn.secondary {
  background-color: rgb(var(--color-secondary-accent));
}

.btn.secondary:hover {
  background-color: rgb(var(--color-secondary-accent-hover));
}

.btn.success {
  background-color: rgb(var(--color-success));
}

.btn.success:hover {
  background-color: rgb(var(--color-success-hover));
}

.btn.error {
  background-color: rgb(var(--color-error));
}

.btn.error:hover {
  background-color: rgb(var(--color-error-hover));
}

.btn.warning {
  background-color: rgb(var(--color-warning));
}

.btn.warning:hover {
  background-color: rgb(var(--color-warning-hover));
}